*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* utility */
.link{
    text-decoration: none; 
    border-radius: 40px;
    padding: 10px;
    background-color: white;
}



.f-size{
    font-size: 30px;
}


.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}

.h-400{
    height: 500px;
}


/* header */
header{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 20px;
    background-image: url(../img/jumbo.png);
}


/* nav */
nav{
    padding: 10px 0;
}


#nav{
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
}

.nav-bar{
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
}

li a{
    color: white;
}

#accedi{
    border-radius: 40px;
    background-color: white;
    padding: 10px;
}

/* intro */
h1{
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 40px;
    color: white;
}

#intro{
    margin-top: 20px;
    text-align: center;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

div.bottoni{
    margin-bottom: 200px;
}
div#intro p{
    color: white;
    margin-bottom: 50px;
}

div.bottoni a{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
    padding: 20px;
}

#bg-black{
    background-color: #23272a;
    color: white;

}

/* main */
.container-1{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}
main section{
    padding: 20px 0;
}

main section:nth-child(even){
    background-color: #f6f6f6;
}

.box-1{
    flex-basis: 70%;
}
.box-2{
    flex-basis: 30%;
}

.main-font{
    font-size: 55px;
}

.second-font{
    font-size: 20px;
    margin-top: 40px;
}

.main-last{
    text-align: center;
}

.bg-img{
    background-image: url(../img/stars.svg);
    font-size: 28px;
    margin-bottom: 50px;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 50px;
}

#scarica{ 
    border-radius: 40px;
    padding: 18px;
    background-color: #8ea1e1;
    color: white;
    font-size: 25px;
}

/* footer */
footer{
    background-color: #0d0d0d;
    padding: 20px 0;
}

.footer-box1{
    flex-basis: 30%;
}

.footer-box{
    flex-basis: calc(70% / 4);
}

hr{
    margin: 20px 0;
}

section:last-child{
    justify-content: space-between;
}

.footer-menu{
    list-style-type: none;
    margin-bottom: 5px;
    color: white;
}

.titolo{
    color: #748ce0;
    margin-bottom: 5px;
}

#foot-top{
    margin-top: 50px;
    margin-bottom: 50px;
}

.social{
    color: white;
    margin-right: 10px;
}

#social{
    margin-top: 15px;
}

#posto{
    font-size: 38px;
    margin-bottom: 15px;
}

#ita{
    width: 5%;
    margin-right: 10px;
}

.ita{
    color: white;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

.arrow {
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  margin-left: 5px;
}

#registrati{ 
    border-radius: 40px;
    padding: 10px;
    background-color: #8ea1e1;
    color: white;
    font-size: 13px;
}






















